<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
  	<h2><%= pluralize(@user.errors.count,"error") %> prohibited this obj from being saved:
</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
	<p>Name</p>
	<%= f.text_field :name %>

	<p>Image</p>
	<%= f.attachment_field :image %>

	<p>introduction</p>
	<%= f.text_area :introduction %>

	<br>
	<%= f.submit "Update User" %>
<% end %>